
<!-- ============================================ -->
<!--                    CTA                       -->
<!-- ============================================ -->

<section id="cta-403">
    <div class="cs-container">
        <div class="cs-content">
            
            <h2 class="cs-title">Get It Done With Us Today!</h2>
            <p class="cs-text">
                Whether by phone, text, email or WhatsApp, we're here to assist. Drop us a message and let us know what we can do for you today!
            </p>
            <a href="/contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <source media="(max-width: 600px)" srcset="/assets/images/cta.webp">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.webp">
        <img loading="lazy" decoding="async" src="/assets/images/cta.webp" alt="grouting" width="1920" height="660" aria-hidden="true">
    </picture>
</section>