---
title: 'About'
description: "Based in Wellington, we're experts in tile maintenance & restoration. With years of experience, Wellington Tile Restorations is your trusted partner for tile & grout care."
preloadImg: '/assets/images/int-hero.webp'
permalink: 'about/'

---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/css/about.css">
{% endblock %}

{% block body %}

   <!-- ============================================ -->
<!--                   Banner                     -->
<!-- ============================================ -->

<div id="banner-1106">
    <div class="cs-container">
        <span class="cs-int-title">About Us</span>
        <div class="cs-breadcrumbs">
            <a href="/" class="cs-link">Home</a>
            <a href="/about" class="cs-link cs-active">About Us</a>
        </div>
    </div>
    <!--Background Image-->
    <picture class="cs-background">
        <!--Mobile Image-->
        <source media="(max-width: 600px)" srcset="/assets/images/int-hero.webp">
        <!--Tablet and above Image-->
        <source media="(min-width: 601px)" srcset="/assets/images/int-hero.webp">
        <img decoding="async" src="/assets/images/int-hero.webp" alt="worker grouting" width="1280" height="568" aria-hidden="true">
    </picture>
</div>
                                

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

<section id="sbs-317">
    <div class="cs-container">
        <!-- Left Image Section -->
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="/assets/images/hero.webp">
            <source media="(min-width: 601px)" srcset="/assets/images/hero.webp">
            <img loading="lazy" decoding="async" src="/assets/images/hero.webp" alt="consult" width="520" height="680" aria-hidden="true">
        </picture>
        <!-- Right Content Section-->
        <div class="cs-content">
            <span class="cs-topper">Who We are</span>
            <h2 class="cs-title">Wellington's Tile and Grout Specialists</h2>
            <p class="cs-text">
                Based in Wellington, Wellington Tile Restorations started with a simple aim: to offer reliable tile maintenance and restoration in the region. Through time and consistent effort, we've expanded our services, handling tasks from re-grouting to tile cleaning.
            </p>
             <p class="cs-text">
                Our strength lies in our years of hands-on experience in the tile industry, which informs our approach to every job. Serving Wellington and its nearby areas, we've built a reputation as dependable experts in tile and grout care. We take pride in the quality of our work and strive to provide good customer experiences. At Wellington Tile Restorations, each project reflects our commitment to our craft and the trust our clients place in us.
            </p>
            
            <a class="cs-button-solid" aria-label="learn more about our programs" href="">Learn More</a>
        </div>
    </div>
</section>


<!-- ============================================ -->
<!--                   Stats                      -->
<!-- ============================================ -->

<section id="stats-471">
    <div class="cs-container">
        <ul class="cs-card-group">
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/graduation.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">10+</span>
                <span class="cs-desc">Years of Expertise</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/happy-customer.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">100s</span>
                <span class="cs-desc">Delighted Customers</span>
            </li>
            <li class="cs-item">
                <img class="cs-icon" aria-hidden="true" src="/assets/svgs/google.svg" loading="lazy" decoding="async" alt="icon" width="76" height="66">
                <span class="cs-number">5/5</span>
                <span class="cs-desc">Google Rating</span>
            </li>
        </ul>
    </div>
</section>

<!-- ============================================ -->
<!--                Meet The Team                 -->
<!-- ============================================ -->

<section id="meet-team-1140">
    <div class="cs-container">
        <div class="cs-content">
            <div class="cs-flex">
                <span class="cs-topper">Our Expert Team</span>
                <h2 class="cs-title">Meet The Wellington Tile Restorations Team</h2>
            </div>
        </div>
        <ul class="cs-card-group">
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
            <li class="cs-item">
                <picture class="cs-picture">
                    <!--Mobile Image-->
                    <source media="(max-width: 600px)" srcset="/assets/images/person-1.webp">
                    <!--Tablet and above Image-->
                    <source media="(min-width: 601px)" srcset="/assets/images/person-1.webp">
                    <img loading="lazy" decoding="async" src="/assets/images/person-1.webp" alt="person" width="305" height="407">
                </picture>
                <div class="cs-info">
                    <span class="cs-name">Person 1</span>
                    <span class="cs-job">Founder</span>
                </div>
            </li>
        </ul>
    </div>
</section>
                                
                                

    {% include 'components/cta.html' %}

{% endblock %}